html { height: 100% }

body { height: 100%; margin: 0; padding: 0 }

#map_canvas { height: 100% }

.job {
  font: 12px arial,sans-serif;
  color: #333;
  padding: 10px 0px; 
  border-bottom: dashed 1px #ddd;
}

h1.infobox {
  font: 11px arial,sans-serif;
  font-weight: bold;
  color: #999;
  margin: 0px; 
  border-bottom: solid 1px #ddd;
}

.job .time {
  color: #e22;
  padding-right: 10px;
}
